<plugin name='mogobiz-extensions' version='1.0.0-RC2' grailsVersion='2.3 &gt; *'>
  <author>Stéphane Manciot</author>
  <authorEmail>stephane.manciot@ebiznext.com</authorEmail>
  <title>Mogobiz Extensions Plugin</title>
  <description>Brief summary/description of the plugin.
</description>
  <documentation>http://grails.org/plugin/mogobiz-extensions</documentation>
  <type>MogobizExtensionsGrailsPlugin</type>
  <packaging>binary</packaging>
  <resources />
</plugin>